{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1 class="fs-2">Register Here</h1>
    <form action="/register" method="post">
        <div class="my-5 input-group input-group-lg">
            <input autocomplete="off" autofocus class="form-control input-lg" name="username" placeholder="Unique Username" type="text">
            <input class="form-control input-lg" name="name" placeholder="Your Name" type="text">
        </div>
        <div class="mb-5 input-group input-group-lg">
            <input class="form-control input-lg" name="password" placeholder="Password" type="password">
            <input class="form-control input-lg" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <button class="btn btn-lg btn-primary form-control text-start" type="submit">Register</button>
    </form>
{% endblock %}
